h1 {
    text-align: center;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex: 1;
    flex-direction: column;
}

.startButton {
    max-width: 300px;
    max-height: 100px;
    align-self: center;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.playerPoints {
    padding: 10px;
}

.computerPoints {
    padding: 10px;
}